* {
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}


input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;

}

.line{
    width: 100%;
    height: 7px;
    background-color: rgb(64, 64, 64);
}


.sectionFirst {
background-image: url(./imag/background.jpg);
background-size: cover;
height: 90vh;

}


.header{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;

}
.header-logo{
    width: 200px;


}
.header-form{
    display: flex;
    gap: 10px;
    align-items: center;

}


.form-select{
    height: 35px;
        background-color: transparent;
        border: 2px solid rgb(149, 149, 149);
        color: rgb(255, 255, 255);
    padding: 0 10px;
    width: 170px;
}

.btn-sign{
    height: 35px;
    background-color: rgb(206, 1, 1);
    border: 0px solid #000;
    font-weight: 600;
}

.btn-primary:hover{
    background-color: rgb(181, 0, 0);
}

.sectionFirst__text{
    width: 1200px;
    margin: 0 auto;
    padding-top: 150px;
    gap: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.sectionFirst__text1{
    color: #ffffff;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

.sectionFirst__text2{
    color: #ffffff;
    font-weight: 350;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

.sectionFirst__text3{
    color: #ffffff;
    font-weight: 350;
    font-size: 20px;
    text-align: center;
    text-shadow: 2px 2px 4px #000000;
}

.input-group{
    width: 500px;
    height: 55px;
}

.btn-outline-secondary{
    background-color: rgb(214, 3, 3);
    border: 0px solid #000;
    font-weight: 600;
    color: #ffffff;
    font-size: 25px;
}
.btn-outline-secondary:hover{
    background-color: rgb(181, 0, 0);
}

.form-control{
    background-color: transparent;
    border: 2px solid rgb(200, 0, 0);
    color: rgb(255, 255, 255);
}

.sectionSecond{
    background-color: #000;
    height: 70vh;
    padding: 0 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.sectionSecond__text1 {
    color: #ffffff;
    font-weight: 900;
    font-size: 50px;

    text-shadow: 2px 2px 4px #000000;

}
.sectionSecond__text2 {
    color: #ffffff;
    font-weight: 350;
    font-size: 20px;

    text-shadow: 2px 2px 4px #000000;
}
.sectionSecond__img {
}

.question{
    background-color: #000;
    height: 90vh;
    padding: 0 180px;
}

.accordion-item{
    background-color: rgb(64, 64, 64);
    color: #ffffff;
    border-radius: 0px;
    border: 0px solid #000;
    margin-bottom: 10px;
}
.accordion-button{
    background-color: rgb(64, 64, 64);
    color: #ffffff;
    border-radius: 0px;
    border: 0px solid #000;
    height: 70px;
}

.accordion-button:hover{
    background-color: rgb(112, 112, 112);
    color: #ffffff;
    
}